<article class="content">

    {% if item.data.image %}

    <img src="{{ item.data.image | url }}" alt="" />

    {% elseif item.data.images %}

    <div class="scroll-list">
  
        {% for img in item.data.images %}

          {% if img.link %}
          
            <a href="{{ img.link }}" target="_blank" rel="noopener">
                <img class="{{ img.class }}" src="{{ img.src | url }}" alt="Link to {{ img.link }}" />
            </a>

          {% else %}

            <img class="{{ img.class }}" src="{{ img.src | url }}" alt="" />

          {% endif %}

        {% endfor %}
    </div>

    {% endif %}

  <div class="card">

    <h2>{% if item.data.permalink == false %}
    
    {{ item.data.title }}

    {% else %}

    <a href="{{ item.url | url }}">{{ item.data.title }}</a>

    {% endif %}

    </h2>

    {% if item.data.preview %}

      <p>{{ item.data.preview }}</p>

    {% endif %}
    
  </div>

</article>