<article class="content">

    {% if item.data.image %}

    <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}" />

    {% elseif item.data.images %}

    <div class="scroll-list">
  
        {% for img in item.data.images %}

          {% if img.link %} <a href="{{ img.link }}" target="_blank" rel="noopener"> {% endif %}

              <img class="{{ img.class }}" src="{{ img.src | url }}" alt="{{ item.data.title }} image" />

          {% if img.link %} </a> {% endif %}

        {% endfor %}
    </div>

    {% endif %}

  <div class="card">

    <h2>{% if item.data.permalink == false %}
    
    {{ item.data.title }}

    {% else %}

    <a href="/posts/{{ item.fileSlug }}/">{{ item.data.title }}</a>

    {% endif %}

    </h2>

    {% if item.data.preview %}

      <p>{{ item.data.preview }}</p>

    {% endif %}
    
  </div>

</article>