<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Alexandra Stephens - Computer Science at the University of Canterbury" />
  <meta name="color-scheme" content="dark light">
  <title>Alexandra Stephens</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="icon" href="/assets/img/icon.svg">
</head>
<body class="page">

  {% block content %}{% endblock %}
  
  <footer class="footer">
			Licensed by Alexandra Stephens under <a class="no-contrast" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </footer>
  
</body>
</html>
